.Login-card{
  height: 24rem;
  width: 25rem;
  border: #828181 solid 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.Login-card:hover{
  transform: scale(1.01);
  box-shadow:0px 8px 16px rgba(0, 0, 0, 0.2);
}
